<?xml version="1.0" encoding="utf-8"?>
<!-- Buba software / Xpath builder settings -->
<Settings>
  <Application>
    <XpathHelp checked="True" />
    <Evaluate checked="True" />
    <ExpandTree checked="False" />
    <XmlResult checked="False">
      <BackgroundColor>
        <R>250</R>
        <G>247</G>
        <B>255</B>
      </BackgroundColor>
    </XmlResult>
    <XpathFont name="Courier New" size="10" />
    <RecentFiles count="10">
      <File path="C:\Developpement\Github\Universal-XML-Scraper\Ressources\Countrylist.xml" />
      <File path="C:\Developpement\Github\Universal-XML-Scraper2\ProfilsFiles\Screenscraper-RecalboxV4.xml" />
      <File path="C:\Developpement\Github\Universal-XML-Scraper2\Ressources\systemlist.xml" />
      <File path="C:\Developpement\Github\Universal-XML-Scraper2\jeuInfos.php.xml" />
      <File path="C:\Developpement\Github\Universal-XML-Scraper2\ProfilsFiles\Screenscraper(MIX)-RecalboxV4.xml" />
      <File path="\\SYNO-SCREECH\Emulation\roms\sega32x\gamelist.xml" />
      <File path="\\SYNO-SCREECH\Emulation\roms\megadrive TEST\gamelist.xml" />
      <File path="C:\Developpement\Github\Universal-XML-Scraper2\TEMP\Zoop (Europe).xml" />
      <File path="C:\Developpement\Github\Universal-XML-Scraper2\Mix\Arcade (moon)\config.xml" />
    </RecentFiles>
    <FormFind opacityPercent="60" />
  </Application>
  <XmlEditor>
    <Colors>
      <Element>
        <R>174</R>
        <G>85</G>
        <B>56</B>
      </Element>
      <XmlDeclaration>
        <R>144</R>
        <G>56</G>
        <B>174</B>
      </XmlDeclaration>
      <Comment>
        <R>0</R>
        <G>128</G>
        <B>0</B>
      </Comment>
      <AttributeName>
        <R>255</R>
        <G>0</G>
        <B>0</B>
      </AttributeName>
      <AttributeValue>
        <R>12</R>
        <G>107</G>
        <B>206</B>
      </AttributeValue>
    </Colors>
  </XmlEditor>
</Settings>