<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Buba.XPathBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Buba.XPathBuilder.Properties.Settings>
      <setting name="XpathHelp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvaluateAuto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpandTreeAuto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XmlResultAuto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XpathFontName" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="XpathFontSize" serializeAs="String">
        <value>10</value>
      </setting>
    </Buba.XPathBuilder.Properties.Settings>
  </applicationSettings>
</configuration>